# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
db.sqlite3

# Django media files - these should be uploaded directly to your production server
media/

# Django static files collected with 'collectstatic'
staticfiles/

# Virtual environment directory
venv/
*.venv
*.virtualenv
*.virtenv

# IDEs (Integrated Development Environments) specific
# PyCharm, VS Code, etc.
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# Potentially sensitive data
*.env
*.conf
*.cfg

